img {
    display: block;
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}

h1{
    color: white;
    background-color: rgb(0,100,0);
    padding: 40px 0px 40px 20px;
    margin-bottom: 10px;
}

body{
    background-color: rgb(253, 255, 125);
    padding-left: 10px;
}

div {
    background-color: grey;
    padding-top: 10px;
    padding-left: 10px;
}